@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */

*{
    font-family: "Work Sans", serif;

}
.section-title{
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
}

.description-text{
    color: #727272;
    padding: 0 0 20px 0;
    font-size: 1rem;
}
.btn-primary{
    padding: 20px 25px;
    border: 0;
    background: #FF900E;
    color: #fff;
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
}
/* Header Styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 1.125rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-section img{
    width: 100%;
    margin-top: 50px;
}


/* Main Section Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 70pxmnm;
}
/* Main > Team Section Styles */

.team-container{
    display: flex;
    align-items: center;
    margin-top: 70px;
    
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-content-title{
    font-size: 2.813rem;
    margin-bottom: 30px;
}

.span-one{
    color: #727272;
    font-weight: 500;
}
.span-two{
    color: #FF900E;
    font-weight: 700;
}

/* Features Section Styles */
    .features{
        margin-top: 130px;
        display: flex;
        gap: 130px;
    }
    .features-content .section-title{
        border-left: 5px solid #FF900E;
        padding-left: 20px;
    }
    .features-content .card{
        border-radius: 8px;
        background: #fff;
        padding: 18px 30px;
        margin-bottom: 20px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    }
    .features-content .card > h4{
        font-size: 20px;
        margin-top: 10px;
    }
    .features-content .card-description{
        color: #727272;
        font-size: 1rem;
    }

    /* .features-img img{
        height: 100%;
    } */

    .badge{
        width: 342px;
        text-align: center;
        padding: 20px 5px;
        background: #FF900E;
        color: #fff;
        border-radius: 8px;
        position: relative;
        bottom: 80px;
        right: 80px;
     }   
     .badge h2{
        font-size: 4rem;
        margin: 20px 0 0 0;
     }
     .badge p{
        font-size: 1.5rem;
        margin-top: 5px;
     }


     /* Facts Styles */


.facts-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.facts-container .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
}
.facts-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
    color: #727272;
}
.facts-container .card-stats{
    font-size: 2.813rem;
    color: #424242;
    margin: 10px 0 10px 0;
}

/* Sponsors Styles */

.sponsors{
    text-align: center;
    margin-top: 150px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap:  40px;
    align-items: center;
}
.sponsors-img-container img{
    width: 165px;
    filter: grayscale(); 
}

footer{
    margin-top: 150px;
    margin-bottom: 200px;
}
.footer{
    background: #FFF4E7;
    text-align: center;
    padding: 20px 0;
    width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    font-size: 1.25rem;
}


/* Responsive Media Queris */

@media screen and (max-width:576px){
    header,  
    .team-content,
    .features, 
    .facts, 
    .sponsors, footer{
        padding: 20px;
    }
    nav,
    .team-container,
    .features,
    .facts-container,
    .sponsors-img-container{
        flex-direction: column;
    } 
    .features-img img, .footer{
        width: 100%;
        /* margin-top: 0;  */
    }
    .badge{
        max-width: 310px;
        position: static;
        bottom: 50px;
        /* margin-bottom: 50px; */
    }
    .team-images{
        grid-template-columns: 1fr; 
    }
    .facts-container{
        gap: 20px;     
    }
    .footer {
        line-height: 40px;
    }
}



/* Tablate Divices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header,
    .features,
    .facts, footer
    {
        padding: 30px; 
    }
    .facts-container .card{
        margin-bottom: 20px;
    }
    nav,
    .team-container,
    .features,
    .facts-container,
    .sponsors-img-container{
        flex-direction: column; 
    }
    .features-img img, .footer{
        width: 100%; 
    } 
    .badge{
        width: 98.5%;
        left: 0%;
        /* position: ; */
        bottom: 50px;
    }

}